@charset "UTF-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

@import "bootstrap.css";


body{
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

$primColor: #e74c3c;
$hover: #e75a3b;



@-webkit-keyframes change {
  0% {
    background: url('/images/bg1.jpg') center no-repeat; 
    background-size:cover;
  }
  35% {
    background: url('/images/bg2.jpg') center no-repeat; 
        background-size:cover;
  }
  70% {
    background: url('/images/bg3.jpg') center no-repeat; 
        background-size:cover;
  }
  100% {
    background: url('/images/bg1.jpg') center no-repeat; 
        background-size:cover;
  }
}

a{
 	&:hover{
  		text-decoration: none;
  	}
  	&:focus{
  		outline: none;
  	}
}
.no-padding {
    padding: 0;
}

.container-fluid{
    padding: 0;
}

header{
    padding-left: 0;
    padding-right: 0;
}
.button{
    background: $primColor;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 29px;
    padding: 14px 46px;
    border: none;
    cursor: pointer;
    &:hover{
        background: $hover;
    }
}
.design-elem{
    text-align: center;
    .line{
        max-width: 100px;
        height: 3px;
        border-radius: 3px;
        background: $primColor;
        margin: 0 auto;
    }
}
.banner-wrap{
    padding: 20px 15px;
    min-height: 800px;
    position: relative;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    -webkit-animation-name: change;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: 3;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;
     animation: change 30s infinite; 
	.logo{
		display: inline-block;
        color: #f1f1f1;
        text-transform: uppercase;
        font-size: 28px;
	}
    .banner-bottom{
        border-bottom: 1px solid rgba(238, 238, 238, .8);
    }
    .design-elem{
        position: absolute;
        width: 100%;
        top: 48%;
        left: 0;
    }
    .support-para{
        color: #eeeeee;
        position: absolute;
        top: 60%;
        left: 0;
        max-width: 100%;
        padding: 0 18%;
        font-weight: 400;

    }
    .button-wrap{
        position: absolute;
        bottom: 20%;
        left: 0;
        width: 100%;
        text-align: center;

    }
	.nav{
		float: right;
        text-transform: uppercase;
        margin-right: 20px;
        padding-top: 10px;
		ul{
			padding: 0;
            color: #eeeeee;
            font-size: 16px;
			li{
				display: inline-block;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
                margin-right: 15px;
                &:last-child{
                    margin-right: 0;
                }
			}
		}
	}
    .heading{
        text-align: center;
        position: absolute;
        top: 30%;
        left: 0;
        width: 100%;
        h2{
            font-size: 40px;
            font-weight: 600;
            color: #f7f7f7;
            text-transform: uppercase;
            max-width: 600px;
            margin: 0 auto;
        }
    }
}

.testEnv-wrap, .features-wrap {
    background: $primColor;
    .design-elem{
        .line{
            background: #f1f1f1;
            margin-bottom: 35px;
        }
    }
    .button-wrap{
        margin-top: 35px;
        padding-bottom: 110px;
        text-align: center;
    }
    button.button{
        background: #f1f1f1;
        color: #000000;
        &:hover{
            background: #f7f7f7;
        }
    }
    .heading{
        padding-top: 110px;
        margin-bottom: 35px;
        text-align: center; 
        h2{
            font-size: 40px;
            font-weight: 600;
            color: #f7f7f7;
            text-transform: uppercase;
            max-width: 600px;
            margin: 0 auto;
        }
    }
    .support-para{
        max-width: 100%;
        padding: 0 18%;
        font-weight: 400;
        margin: 0 auto;
        text-align: center;
        color: #ffffff;
        text-transform: none;
    }
}


.features-wrap{
    background: #ffffff;
    .design-elem{
        .line{
            background: #515151;
        }
    }
    .heading{
        h2{
            color: #515151;
        }
    }
    .feaures-list{
        margin-top: 55px;
        ul{
            li{
                display: inline-block;
                width: 33%;
                text-align: center;
                cursor: pointer;
                .img-wrap{
                    max-width: 60px;
                    margin: 0 auto;
                    img{
                        width: 100%;
                        height: auto;
                        transform: scale(0.8);
                        transition: transform 300ms ease-in-out;
                    }
                }
                .inner-content{
                    max-width: 200px;
                    text-align: center;
                    margin: 0 auto;
                }
                &:hover{
                    .img-wrap{
                        img{
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }
}

.signup-wrap{
    background-color: #313131;
    .heading{
        padding-top: 50px;
        margin-bottom: 35px;
        text-align: center; 
        h2{
            font-size: 40px;
            font-weight: 600;
            color: #f7f7f7;
            max-width: 600px;
            margin: 0 auto;
        }
    }
    .button-wrap{
        margin-top: 35px;
        padding-bottom: 50px;
        text-align: center;
    }
}
