@import url(bootstrap.css);
@font-face {
    font-family: 'helvetica';
    src: url("../../fonts/helvetica.eot");
    src: url("../../fonts/helvetica.eot?#iefix") format("embedded-opentype"), 
    url("../../fonts/helvetica.woff") format("woff"),
    url("../../fonts/helvetica.woff2") format("woff2"), 
    url("../../fonts/helvetica.ttf") format("truetype"), 
    url("../../fonts/helvetica.svg#helvetica") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding-top: 0;
    font-family: "helvetica";
    box-sizing: border-box;
    background-color: #ffffff;
    * {
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        box-sizing: border-box;
        font-family: "helvetica", sans-serif;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'helvetica';
    color: #222;
}

ul {
    padding: 0;
    margin: 0;
}

.no-padding{
    padding: 0;
}

.btn-p{
    background: #ffffff;
    color: #073f56;
    padding: 10px 25px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #073f56;
}

.btn-s{
    background: #073f56;
    color: #ffffff;
    padding: 10px 25px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ffffff;
}

header{
    height: 130px;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
    border-bottom: 1px solid #e2e2e2;
    z-index: 99;
    transition: height 500ms ease-in-out;
    .logo{
        a{
            display: inline-block;
            width: 100%;
            vertical-align: middle;
            padding: 30px 0 0;
            transition: transform 500ms ease-in-out, padding 500ms ease-in-out;
        }
    }
    .middle-options{
        text-align: center;
        transition: all 500ms ease-in-out;
        height: 100%;
        ul{
            max-width: 100%;
            display: inline-block;
            li{
                display: inline-block;
                vertical-align: middle;
            }
        }
        .top-middle{
            font-size: 24px;
            color: #353535;
            transition: height 500ms ease-in-out, transform 300ms ease-in-out;
            ul{
                border-bottom: 1px solid #e5e5e5;
                li{
                    padding: 20px 10px;

                }
            }
        }
        .bottom-middle{
            font-size: 14px;
            text-transform: uppercase;
            color: #434343;
            transition: all 500ms ease-in-out;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            ul{
                li{
                    padding: 18px 20px;
                    font-weight: bold;

                }
            }
        }
    }
    .login{
        text-align: right;
        a{
            padding: 30px 0 0;
            display: inline-block;
            color: #434343;
            font-weight: bold;
            font-size: 18px;
        }
    }
    &.shrink{
        height: 77px;
        .logo{
            a{
                transform: scale(0.8);
                padding: 8px 0 0;
            }
        }
        .middle-options{
            .top-middle{
                height: 0;
                opacity: 0;
                transform: scale(0);
            }
            .bottom-middle{
                bottom: 10px;
            }
        }
    }
}

.pencil-wrapper{
    background: #f7f7f7;
    height: 625px;
    padding-top: 50px;
    position: relative;
    text-align: center;
    .image-wrapper{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        img{
            width: auto;
            height: auto;
        }
        .heading-wrapper{
            position: absolute;
            top: 0;
            right: calc(50% - 400px);
            text-align: left;
            max-width: 320px;
            width: 100%;
            display: inline-block;
        }
    }
}

.food-section{
    background: #e7f5ff;
    height: 525px;
    .image-wrapper{
        height: 100%;
        width: 100%;
        img{
            width: 100%;
            height: auto;
        }
    }
    .left-content{
        position: relative;
        height: 100%;
    }
    .content-box{
        position: absolute;
        bottom: 0;
        right: 20px;
        width: 330px;
    }
}

.test-section{
    background: #f0f0f0;
    height: 650px;
    h2{
        vertical-align: middle;
        padding: 20% 0;
    }
    &.ornge-clr{
        background: #f0e7d4;
    }
}

.bottom-banner{
    background: #073f56;
    color: #ffffff;
    text-align: center;
    padding:38px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translate3d(0, 100%, 0);
    transition: all 500ms ease-in-out;
    &.fixed{
        transform: translate3d(0, 0, 0);    
    }
}

