<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../public/styles/css/hk.css">
        <script src="../public/scripts/jquery.min.js"></script>
        <script src="../public/scripts/bootstrap.min.js"></script>
        <script src="../public/scripts/hk.js"></script>
        <title>practice</title>
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="#"><img src="/images/hk/logo.png" /></a> </div>
                    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">blog</a></li>
                            <li><a href="#">ask me anything</a></li>
                            <li><a href="#">videos</a></li>
                            <li><a href="#">transformations</a></li>
                            <li><a href="#">Q/a</a></li>
                            <li><a href="#">trainer</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <section class="banner-section">
                <div class="col-sm-12 no-padding">
                    <div class="banner-wrap">
                        <div class="banner-bg">
                            <div class="transform-wrap">
                                <div class="before"><span>before</span></div>
                                <div class="arrow"></div>
                                <div class="after"><span>after</span></div>
                            </div>
                            <div class="bottom-txt-wrap">
                                <h2 class="heading">
                                    vishwanath kumar
                                </h2>
                                <p> this is a dummy textthis is a dummy textthis is a dummy text</p>
                            </div>
                        </div>
                        <ul class="details">
                            <li>
                                <div class="item">age: <span>30</span> </div>
                                <div class="arrow item"></div>
                                <div class="item">31</div>
                            </li>
                            <li>
                                <div class="item">weight: <span>82kg</span> </div>
                                <div class="arrow item"></div>
                                <div class="item">72kg</div>
                            </li>
                            <li>
                                <div class="item">body fat: <span>21%</span> </div>
                                <div class="arrow item"></div>
                                <div class="item">8%</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <div class="container">
                <section class="trainedby-wrap clearfix">
                    <div class="col-sm-9 col-xs-12">
                        trained by <span class="blue"><b>bharat goyal</b></span> | 07dec, 2015
                    </div>
                    <div class="col-sm-3 col-xs-12 share-wrap clearfix">
                        <div class="share-options">
                            <span>share</span> <a href="#"><img src="/images/hk/fb.png" /></a> <a href="#"><img src="/images/hk/googlePlus.png" /></a> <a href="#"><img src="/images/hk/twitter.png" /></a>
                        </div>
                    </div>
                </section>
                <section class="clearfix">
                    <div class="col-sm-9 clearfix">
                        <h2 class="main-heading">vishwanath never gave up the attitude transformed him to a fit freak</h2>
                        <div class="quote">
                            <b>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</b>
                        </div>
                        <div class="para">
                            <h3 class="heading">
                                wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                            </h3>
                            <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum</p>
                        </div>
                        <div class="para">
                            <h3 class="heading">
                                wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                            </h3>
                            <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum</p>
                        </div>
                        <div class="para">
                            <div class="productBox">
                                <div class="img-wrap">
                                    <img src="/images/hk/image.jpg" alt="image" />
                                </div>
                                <div class="content-wrap">
                                    <span>muscle blaze</span>
                                    <span>my first whey protein</span>
                                    <a href="#">know more</a>
                                </div>
                            </div>
                            <div class="productBox">
                                <div class="img-wrap">
                                    <img src="/images/hk/image.jpg" alt="image" />
                                </div>
                                <div class="content-wrap">
                                    <span>muscle blaze</span>
                                    <span>my first whey protein</span>
                                    <a href="#">know more</a>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>mean no.</th>
                                    <th>time</th>
                                    <th>description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>10 am</td>
                                    <td>isi enim ad minim veniam, isi enim ad minim veniam</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>10 am</td>
                                    <td>isi enim ad minim veniam, isi enim ad minim veniam</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>10 am</td>
                                    <td>isi enim ad minim veniam, isi enim ad minim veniam</td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>10 am</td>
                                    <td>isi enim ad minim veniam, isi enim ad minim veniam</td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>10 am</td>
                                    <td>isi enim ad minim veniam, isi enim ad minim veniam</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-3 no-padding rhs-section">
                        <div class="heading-wrap">
                            <h2>recommended products</h2>
                            </div>
                        <ul class="no-padding">
                            <li>
                                <div class="productBox">
                                    <div class="img-wrap">
                                        <img src="/images/hk/image.jpg" alt="image" />
                                    </div>
                                    <div class="content-wrap">
                                        <span>muscle blaze</span>
                                        <span>my first whey protein</span>
                                        <a href="#">know more</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="productBox">
                                    <div class="img-wrap">
                                        <img src="/images/hk/image.jpg" alt="image" />
                                    </div>
                                    <div class="content-wrap">
                                        <span>muscle blaze</span>
                                        <span>my first whey protein</span>
                                        <a href="#">know more</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="productBox">
                                    <div class="img-wrap">
                                        <img src="/images/hk/image.jpg" alt="image" />
                                    </div>
                                    <div class="content-wrap">
                                        <span>muscle blaze</span>
                                        <span>my first whey protein</span>
                                        <a href="#">know more</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="related-articles clearfix">
                    <div class="heading-wrap clearfix">
                        <h2 class="heading">
                            related articles
                        </h2>
                    </div>
                    <div class="slider-wrap">
                        <ul>
                            <li>
                                <div class="content-wrap clearfix">
                                    <div class="img-wrap">
                                        <img src="/images/hk/1.jpg" alt="img-1" />
                                        <div class="bot-txt">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit </div>
                                    </div>
                                    <div class="author"> by <span class="blue"><b>bharat goyal</b></span> | 07 dec, 2015</div>
                                </div>
                            </li>
                            <li>
                                <div class="content-wrap clearfix">
                                    <div class="img-wrap">
                                        <img src="/images/hk/1.jpg" alt="img-1" />
                                        <div class="bot-txt">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit </div>
                                    </div>
                                    <div class="author"> by <span class="blue"><b>bharat goyal</b></span> | 07 dec, 2015</div>
                                </div>
                            </li>
                            <li>
                                <div class="content-wrap clearfix">
                                    <div class="img-wrap">
                                        <img src="/images/hk/1.jpg" alt="img-1" />
                                        <div class="bot-txt">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit </div>
                                    </div>
                                    <div class="author"> by <span class="blue"><b>bharat goyal</b></span> | 07 dec, 2015</div>
                                </div>
                            </li>
                            <li>
                                <div class="content-wrap clearfix">
                                    <div class="img-wrap">
                                        <img src="/images/hk/1.jpg" alt="img-1" />
                                        <div class="bot-txt">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit </div>
                                    </div>
                                    <div class="author"> by <span class="blue"><b>bharat goyal</b></span> | 07 dec, 2015</div>
                                </div>
                            </li>
                            <li>
                                <div class="content-wrap clearfix">
                                    <div class="img-wrap">
                                        <img src="/images/hk/1.jpg" alt="img-1" />
                                        <div class="bot-txt">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit </div>
                                    </div>
                                    <div class="author"> by <span class="blue"><b>bharat goyal</b></span> | 07 dec, 2015</div>
                                </div>
                            </li>
                            <li>
                                <div class="content-wrap clearfix">
                                    <div class="img-wrap">
                                        <img src="/images/hk/1.jpg" alt="img-1" />
                                        <div class="bot-txt">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit </div>
                                    </div>
                                    <div class="author"> by <span class="blue"><b>bharat goyal</b></span> | 07 dec, 2015</div>
                                </div>
                            </li>
                        </ul>
                        <div id="back" class="toggle-left"></div>
                        <div id="forward" class="toggle-right"></div>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>
