<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../public/styles/release/scroller.min.css">
    <link rel="stylesheet" type="text/css" href="../public/styles/release/inmobi.min.css">
    <title>inmobi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="clearfix" data-module="inmobi">
        <div class="blackBG"></div>
        <header id="header-v4" class="clearfix">
            <div class="col-sm-3 col-xs-6 clearfix hdr-lft">
                <div class="logo">
                    <a href="#" target="_blank">
                        <img class="white-logo" src="/images/inmobi-logo.png" alt="Inmobi"/>
                        <img class="color-logo" src="/images/logo-color.png" alt="Inmobi" class="color">
                    </a>
                </div>
            </div>
            <div class="col-sm-9  col-xs-6 clearfix hdr-rght hidden-xs">
                <ul class="topNav">
                    <li class="hl"><a>Advertisers</a>
                        <ul class="subNav">
                            <li><a href="/advertisers">Overview</a></li>
                            <li><a href="/advertisers/brand-engagement">Brand Marketing</a></li>
                            <li><a href="/advertisers/user-acquisition">User Acquisition</a></li>
                            <li><a href="/advertisers/remarketing">Remarketing</a></li>
                        </ul>
                    </li>
                    <li class="hl"><a>Publishers</a>
                        <ul class="subNav">
                            <li><a href="/publishers">Overview</a></li>
                            <li><a href="/products/creatives#mobilevideo">Video Ads</a></li>
                            <li><a href="/products/creatives#nativeads">Native Ads</a></li>
                            <li><a href="/sdk/">Download SDK</a></li>
                        </ul>
                    </li>
                    <li class="hl"><a>Products</a>
                        <ul class="subNav">
                            <li><a href="/products/creatives">Ad Experiences</a></li>
                            <li><a href="/products/targeting">Targeting Solutions
                          </a></li>
                            <li><a href="/products/inmobi-exchange">Programmatic Buying</a></li>
                            <li><a href="/products/remarketing">Remarketing</a></li>
                        </ul>
                    </li>
                    <li class="hl"><a>COMPANY</a>
                        <ul class="subNav">
                            <li><a href="/company/">About Us</a></li>
                            <li><a href="/company/leadership/">Leadership</a></li>
                            <li><a href="/company/careers/">Careers</a></li>
                            <li><a href="/blog/">Blog</a></li>
                            <li><a href="/insights/">INSIGHTS</a></li>
                        </ul>
                    </li>
                    <li><a href="https://www.inmobi.com/user/register.html?locale=en_us" target="_blank" class="btn btn-clear">Sign Up</a></li>
                    <li><a href="https://www.inmobi.com/user/index?productId=1" target="_blank" class="btn btn-primary">Sign In</a></li>
                </ul>
            </div>
            
            <div class="col-xs-6 clearfix hdr-rght mob-nav visible-xs">
                <div id="nav-icon4">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <ul class="menudrawer">
                    <li class="hl"><a>Advertisers</a>
                        <ul class="subNav">
                            <li><a href="/advertisers">Overview</a></li>
                            <li><a href="/advertisers/brand-engagement">Brand Marketing</a></li>
                            <li><a href="/advertisers/user-acquisition">User Acquisition</a></li>
                            <li><a href="/advertisers/remarketing">Remarketing</a></li>
                        </ul>
                    </li>
                    <li class="hl"><a>Publishers</a>
                        <ul class="subNav">
                            <li><a href="/publishers">Overview</a></li>
                            <li><a href="/products/creatives#mobilevideo">Video Ads</a></li>
                            <li><a href="/products/creatives#nativeads">Native Ads</a></li>
                            <li><a href="/sdk/">Download SDK</a></li>
                        </ul>
                    </li>
                    <li class="hl"><a>Products</a>
                        <ul class="subNav">
                            <li><a href="/products/creatives">Ad Experiences</a></li>
                            <li><a href="/products/targeting">Targeting Solutions
                          </a></li>
                            <li><a href="/products/inmobi-exchange">Programmatic Buying</a></li>
                            <li><a href="/products/remarketing">Remarketing</a></li>
                        </ul>
                    </li>
                    <li class="hl"><a>COMPANY</a>
                        <ul class="subNav">
                            <li><a href="/company/">About Us</a></li>
                            <li><a href="/company/leadership/">Leadership</a></li>
                            <li><a href="/company/careers/">Careers</a></li>
                            <li><a href="/blog/">Blog</a></li>
                            <li><a href="/insights/">INSIGHTS</a></li>
                        </ul>
                    </li>
                    <li><a href="https://www.inmobi.com/user/register.html?locale=en_us" target="_blank" class="btn btn-clear">Sign Up</a></li>
                    <li><a href="https://www.inmobi.com/user/index?productId=1" target="_blank" class="btn btn-primary">Sign In</a></li>
                </ul>
            </div>
        </header>
        <div id="inmobiPageWrapper" class="clearfix">
            <ul class="page-control">
                <li class="control-indicators mrg_top0"></li>
                <li class="control-indicators"></li>
                <li class="control-indicators"></li>
                <li class="control-indicators"></li>
            </ul>
            <div class="main">
                <section class="item company_bnr">
                    <div class="container">
                        <div class="main-heading">
                            <h1>PIONEERING <b>MOBILE DISCOVERY</b> THROUGH PERSONALIZED <b> AD EXPERIENCES</b></h1>
                            <a href="/advertisers/user-acquisition/" class="btn-p know-more">Know How</a>
                        </div>
                    </div>
                </section>
                <section class="item" id="innovation">
                    <div class="white_container vertical_middle">
                        <div class="mini_container">
                            <h2 class="text-center">InMobi platforms leverage advanced data-sciences to help you with multiple advantages</h2>
                            <p>At InMobi, we are reimagining advertising to deliver real value for mobile consumers. Be it innovative ad formats that elevate the mobile experience, or contextual &amp; personalized recommendations that drive discovery, our products are designed to inspire, engage, and delight mobile users.</p>                        
                            <div class="clearfix">
                                <div class="col-sm-6 left">
                                    <div class="fuels">
                                        <h4>INNOVATION FUELS<br><span>OUR GROWTH</span></h4>
                                    </div>
                                </div>
                                <div class="col-sm-6 right">
                                    <div class="blueBg">
                                        <h4 class=""><span># 15</span> ON FAST COMPANY’S</h4>
                                        <h4 class="darkBlueBg">THE WORLD’S <span>MOST INNOVATIVE</span></h4>
                                        <h4 class="">COMPANIES 2016 LIST </h4>
                                    </div>
                                    <p class="italics">“For making ads that
                                        <br> users actually want to see.”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="item reimagine">
                    <div id="powerhouse"> 
                        <div class="clearfix">
                            <h4>We're not just another mobile advertising company</h4>
                            <h3>We are a technology powerhouse</h3>
                            <p class="hidden-xs">The global scale &amp; reach of our full-stack advertising platform helps brands nudge mobile users across different stages of their lifecycle, converting each mobile moment into an opportunity to drive engagement &amp; revenue.</p>
                            <div class="statBoxes clearfix">
                                <ul class="statCol">
                                    <li class="statBox">
                                        <span class="ico device"></span>
                                        <p class="statHead">1.5 Billion+ </p>
                                        <p class="statDesc">unique mobile devices</p>
                                    </li>
                                    <li class="statBox">
                                        <span class="ico data"></span>
                                        <p class="statHead">120+ TB</p>
                                        <p class="statDesc">of user data analyzed
                                            <br>monthly</p>
                                    </li>
                                    <li class="statBox">
                                        <span class="ico pubs"></span>
                                        <p class="statHead">32,000+ </p>
                                        <p class="statDesc">publisher apps</p>
                                    </li>
                                    <li class="statBox">
                                        <span class="ico advs"></span>
                                        <p class="statHead">20,000+ </p>
                                        <p class="statDesc">Global advertisers </p>
                                    </li>
                                    <li class="statBox">
                                        <span class="ico downloads"></span>
                                        <p class="statHead">6 Million+ </p>
                                        <p class="statDesc">App downloads tracked monthly</p>
                                    </li>
                                    <li class="statBox ">
                                        <span class="ico adreqs"></span>
                                        <p class="statHead">200 Billion+ </p>
                                        <p class="statDesc">monthly ad requests</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                      </div>
                </section>
                <section class="item">
                    <div class=" white_container vertical_middle text-center">
                        <div class="mini_container">
                            <h2>Meet the Team</h2>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
<script src="../public/scripts/t3.js"></script>
<script src="../public/scripts/app.js"></script>
<script src="../public/scripts/jquery.min.js"></script>
<script src="../public/scripts/bootstrap-v3.3.2.js"></script>
<script src="../public/scripts/UIPageScrolling.js"></script>
<script src="../public/scripts/modules/inmobi.js"></script>
<script>
Application.init({
    debug: true
});
</script>

</html>
