<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../public/styles/release/inmobi2.min.css">
    <title>inmobi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="clearfix" data-module="inmobiTwo">
        <header id="header" class="clearfix">
            <div class="col-sm-1 col-xs-1 clearfix logo">
                <a href="#"><img src="/images/burger.jpg" /></a>
            </div>
            <div class="col-sm-10  col-xs-10 clearfix middle-options">
                <div class="top-middle">
                    <ul>
                        <li>Burger</li>
                        <li>Sausage</li>
                        <li>Kebab</li>
                        <li>Shawarma</li>
                        <li>Cabbage</li>
                    </ul>
                </div>
                <div class="bottom-middle">
                    <ul>
                        <li>Burger</li>
                        <li>Sausage</li>
                        <li>Kebab</li>
                        <li>Shawarma</li>
                        <li>Cabbage</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-1 col-xs-1 clearfix login">
                <a href="#">Login</a>
            </div>
        </header>
        <div id="inmobiTwoPageWrapper" class="clearfix">
            <section class="pencil-wrapper">
                <div class="image-wrapper">
                    <img src="/images/pencil.png" />
                    <div class="heading-wrapper">
                        <h1>It’s not food! </h1>
                        <p>I love to eat. Everyday i eat. I cant live without eating. Please give me food!</p>
                        <a href="#">Let’s eat with me</a>
                    </div>
                </div>
            </section>
            <section class="food-section">
                <div class="col-sm-6 clearfix left-content">
                    <div class="content-box">
                        <div class="sml-fnt">THIS IS FOOD</div>
                        <h2>Burger, put it on a table </h2>
                        <p>a sandwich consisting of one or more cooked patties of ground meat, usually beef, placed inside a sliced bread roll or bun. </p>
                    </div>
                </div>
                <div class="col-sm-6 clearfix no-padding">
                    <div class="image-wrapper">
                        <img src="/images/burgerplate.png" />
                    </div>
                </div>
            </section>
            <section class="test-section clearfix text-center">
                <h2> testing testing </h2>
            </section>
            <section class="test-section ornge-clr clearfix text-center">
                <h2> testing testing </h2>
            </section>
            <section class="bottom-banner">
                <div class=""> Let's eat together people <span class="btn-p">Okay!</span> <span class="btn-s">I'm on diet</span> </div>
            </section>
        </div>
    </div>
</body>
<script src="../public/scripts/t3.js"></script>
<script src="../public/scripts/app.js"></script>
<script src="../public/scripts/jquery.min.js"></script>
<script src="../public/scripts/modules/inmobi2.js"></script>
<script>
Application.init({
    debug: true
});
</script>

</html>
