<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../public/styles/release/inmobi2.min.css">
    <title>inmobi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="clearfix" data-module="inmobiTwo">
        <div class="blackBG"></div>
        <header id="header" class="clearfix">
            <div class="col-sm-1 col-xs-4 clearfix logo">
                <a href="#"><img src="/images/burger.jpg" /></a>
            </div>
            <div class="col-sm-10  col-xs-10 clearfix middle-options  hidden-xs">
                <div class="top-middle">
                    <ul>
                        <li>Burger</li>
                        <li>Sausage</li>
                        <li>Kebab</li>
                        <li>Shawarma</li>
                        <li>Cabbage</li>
                    </ul>
                </div>
                <div class="bottom-middle">
                    <ul>
                        <li>Burger</li>
                        <li>Sausage</li>
                        <li>Kebab</li>
                        <li>Shawarma</li>
                        <li>Cabbage</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-1 col-xs-1 clearfix login  hidden-xs">
                <a href="#">Login</a>
            </div>
            <div class="col-xs-8 clearfix mob-nav visible-xs">
                <div id="nav-icon4">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <ul class="menudrawer">
                    <li class="hl"><a>Advertisers</a>
                        <ul class="subNav">
                            <li><a href="/advertisers">Overview</a></li>
                            <li><a href="/advertisers/brand-engagement">Brand Marketing</a></li>
                            <li><a href="/advertisers/user-acquisition">User Acquisition</a></li>
                            <li><a href="/advertisers/remarketing">Remarketing</a></li>
                        </ul>
                    </li>
                    <li class="hl"><a>Publishers</a>
                        <ul class="subNav">
                            <li><a href="/publishers">Overview</a></li>
                            <li><a href="/products/creatives#mobilevideo">Video Ads</a></li>
                            <li><a href="/products/creatives#nativeads">Native Ads</a></li>
                            <li><a href="/sdk/">Download SDK</a></li>
                        </ul>
                    </li>
                    <li class="hl"><a>Products</a>
                        <ul class="subNav">
                            <li><a href="/products/creatives">Ad Experiences</a></li>
                            <li><a href="/products/targeting">Targeting Solutions
                          </a></li>
                            <li><a href="/products/inmobi-exchange">Programmatic Buying</a></li>
                            <li><a href="/products/remarketing">Remarketing</a></li>
                        </ul>
                    </li>
                    <li class="hl"><a>COMPANY</a>
                        <ul class="subNav">
                            <li><a href="/company/">About Us</a></li>
                            <li><a href="/company/leadership/">Leadership</a></li>
                            <li><a href="/company/careers/">Careers</a></li>
                            <li><a href="/blog/">Blog</a></li>
                            <li><a href="/insights/">INSIGHTS</a></li>
                        </ul>
                    </li>
                    <li><a href="https://www.inmobi.com/user/register.html?locale=en_us" target="_blank" class="btn btn-clear">Sign Up</a></li>
                    <li><a href="https://www.inmobi.com/user/index?productId=1" target="_blank" class="btn btn-primary">Sign In</a></li>
                </ul>
            </div>
        </header>
        <div id="inmobiTwoPageWrapper" class="clearfix">
            <section class="pencil-wrapper">
                <div class="image-wrapper">
                    <img src="/images/pencil.png" />
                    <div class="heading-wrapper">
                        <h1>It’s not food! </h1>
                        <p>I love to eat. Everyday i eat. I cant live without eating. Please give me food!</p>
                        <a href="#">Let’s eat with me</a>
                    </div>
                </div>
            </section>
            <section class="food-section">
                <div class="col-sm-6 clearfix left-content">
                    <div class="content-box">
                        <div class="sml-fnt">THIS IS FOOD</div>
                        <h2>Burger, put it on a table </h2>
                        <p>a sandwich consisting of one or more cooked patties of ground meat, usually beef, placed inside a sliced bread roll or bun. </p>
                    </div>
                </div>
                <div class="col-sm-6 clearfix no-padding">
                    <div class="image-wrapper">
                        <img src="/images/burgerplate.png" />
                    </div>
                </div>
            </section>
            <section class="test-section clearfix text-center">
                <h2> testing testing </h2>
            </section>
            <section class="test-section ornge-clr clearfix text-center">
                <h2> testing testing </h2>
            </section>
            <section class="bottom-banner">
                <div class=""> <span class="bot-txt">Let's eat together people</span> <span class="btn-p">Okay!</span> <span class="btn-s">I'm on diet</span> </div>
            </section>
        </div>
    </div>
</body>
<script src="../public/scripts/t3.js"></script>
<script src="../public/scripts/app.js"></script>
<script src="../public/scripts/jquery.min.js"></script>
<script src="../public/scripts/modules/inmobi2.js"></script>
<script>
Application.init({
    debug: true
});
</script>

</html>
