<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../public/styles/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../public/styles/css/jooti.min.css">
        <title>jooti center</title>
    </head>
    <body>
        <div class="main-wrap">
            <header class="max935 clearfix">
                <div class="center calluswrap">
                    <span class="bold sml-fnt">call us: +91 9314501073 </span>
                    <span class="v-sml-fnt italic lght-clr"> 7 days a week from 09:00 am to 07:00 pm</span>
                    <span>
                        <span class="icon"></span>
                        <span class="icon"></span>
                        <span class="icon"></span>
                        <span class="icon"></span>
                    </span>
                </div>
                <div class="text-right sitemap-wrap">
                    <ul>
                        <li>home</li>
                        <li>query</li>
                        <li>contact</li>
                        <li>sitemap</li>
                    </ul>
                </div>
                <div class="logosupport-wrap">
                    <div class="logo">
                        <img src="/images//jooti/logo.png" />
                    </div>
                    <div class="support">
                        <div class="twenty-svn">24X7 Support </div>
                        <div class="text-right info-wrap">
                            <div class="whatsapp"> <span class="icon"></span> +91 9828822188</div>
                            <div class="email"> <span class="icon"></span> info@traditionalfootwear.in</div>
                        </div>
                    </div>
                </div>
            </header>
            <nav class="clearfix">
                <div class="max935">
                    <ul class="step1">
                        <li><span>about us</span> <span class="arrowhead"></span></li>
                        <li><span>men's footwear</span> <span class="arrowhead"></span></li>
                        <li><span>women's footwear</span> <span class="arrowhead"></span></li>
                        <li><span>tranditional footwear</span> <span class="arrowhead"></span></li>
                        <li><span>firsttime visitor</span> <span class="arrowhead"></span></li>
                        <li class="rqustcallback">request callback</li>
                    </ul>
                </div>
            </nav>
            <section class="banner-container-wrap clearfix max935">
                <div class="best-seller-wrap clearfix">
                    <div class="sm-col sm-col-8 clearfix">
                        <div class="sm-col sm-col-6 brick redbg">
                            <span class="brick-txt">Customer <br> Satisfaction</span>
                        </div>
                        <div class="sm-col sm-col-6">
                            <div class="image-wrap brick">
                                <img src="/images/jooti/image1.png" />
                            </div>
                        </div>
                        <div class="sm-col sm-col-6">
                            <div class="image-wrap brick-lg">
                                <img src="/images/jooti/image2.png" />
                            </div>
                        </div>
                        <div class="sm-col sm-col-6 mt2">
                            <div class="brick greenbg">
                                <span class="brick-txt">Timely <br> Delivery</span>
                            </div>
                        </div>
                        <div class="sm-col sm-col-6 mt2">
                            <div class="brick purplebg">
                                <span class="brick-txt">Exclusive <br> Designs</span>
                            </div>
                        </div>
                    </div>
                    <div class="sm-col sm-col-4 clearfix">
                        <span class="bg-blck-fnt">best</span> 
                        <span class="bg-red-fnt">sellers</span>
                        <p class="bnr-txt">Professionalism &amp; high quality is the mantra of success. Quality reflected in our product us is direct result of strigment quality control norms.</p>
                        <div class="text-center bnr-btn-wrap">
                            <button class="btn-p"><span>browser</span></button>
                        </div>
                    </div>
                    <div class="sm-col sm-col-12 hght2px"></div>
                    <div class="sm-col sm-col-4">
                        <div class="brick orangebg">
                            <span class="brick-txt">Economical <br> Pricing</span>
                        </div>
                    </div>
                    <div class="sm-col sm-col-8">
                        <div class="image-wrap brick-hr-lg">
                            <img src="/images/jooti/image3.png" />
                        </div>
                    </div>
                </div>
                <div class="new-arrival-wrap">
                    <div class="sm-col sm-col-5">
                        <div class="arrval-brick">
                            <span class="sml-fnt">Fresh</span>
                            <span class="big-fnt">STOCK</span>
                        </div>
                        <span class="bg-blck-fnt">new</span> 
                        <span class="bg-red-fnt">arrivals</span>
                        <p class="bnr-txt">Professionalism &amp; high quality is the mantra of success. Quality reflected in our product us is direct result of strigment quality control norms.</p>
                        <div class="text-center bnr-btn-wrap">
                            <button class="btn-p"><span>Explore</span></button>
                        </div>
                    </div>
                    <div class="sm-col sm-col-7"></div>
                </div>
            </section>
        </div>
    </body>
        <script src="../public/scripts/jquery.min.js"></script>    
</html>
