<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../public/styles/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../public/styles/css/jooti.min.css">
        <title>jooti center</title>
    </head>
    <body>
        <div class="main-wrap">
            <header class="max1171 clearfix">
                <div class="center calluswrap">
                    <span class="bold sml-fnt">call us: +91 9314501073 </span>
                    <span class="v-sml-fnt italic lght-clr"> 7 days a week from 09:00 am to 07:00 pm</span>
                    <span>
                        <span class="icon fa fa-facebook-official"></span>
                        <span class="icon fa fa-twitter-square"></span>
                        <span class="icon fa fa-pinterest-square"></span>
                        <span class="icon"></span>
                    </span>
                </div>
                <div class="text-right sitemap-wrap">
                    <ul>
                        <li>home</li>
                        <li>query</li>
                        <li>contact</li>
                        <li>sitemap</li>
                    </ul>
                </div>
                <div class="logosupport-wrap">
                    <div class="logo">
                        <img src="/images/jooti/logo.png" />
                    </div>
                    <div class="support">
                        <div class="twenty-svn">24X7 Support </div>
                        <div class="text-right info-wrap">
                            <div class="whatsapp"> <span class="icon fa fa-whatsapp"></span> +91 9828822188</div>
                            <div class="email"> <span class="icon fa fa-envelope"></span> info@traditionalfootwear.in</div>
                        </div>
                    </div>
                </div>
            </header>
            <nav class="clearfix">
                <div class="max1171">
                    <ul class="step1">
                        <li><span>about us</span> <span class="arrowhead"></span></li>
                        <li><span>men's footwear</span> <span class="arrowhead"></span></li>
                        <li><span>women's footwear</span> <span class="arrowhead"></span></li>
                        <li><span>tranditional footwear</span> <span class="arrowhead"></span></li>
                        <li><span>firsttime visitor</span> <span class="arrowhead"></span></li>
                        <li class="rqustcallback">request callback</li>
                    </ul>
                </div>
            </nav>
            <section class="banner-container-wrap clearfix max1171">
                <div class="best-seller-wrap clearfix">
                    <div class="sm-col sm-col-8 clearfix">
                        <div class="sm-col sm-col-6 brick redbg">
                            <span class="brick-txt">Customer <br> Satisfaction</span>
                        </div>
                        <div class="sm-col sm-col-6 xs-6">
                            <div class="image-wrap brick">
                                <img src="/images/jooti/image1.png" />
                            </div>
                        </div>
                        <div class="sm-col sm-col-6 xs-6">
                            <div class="image-wrap brick-lg">
                                <img src="/images/jooti/image2.png" />
                            </div>
                            <div class=" pad2 xs-pt2 visible-xs">
                                <div class="brick orangebg">
                                    <span class="brick-txt">Economical <br> Pricing</span>
                                </div>
                            </div>
                        </div>
                        <div class="sm-col sm-col-6 mt2">
                            <div class="brick greenbg">
                                <span class="brick-txt">Timely <br> Delivery</span>
                            </div>
                            <div class="sm-col sm-col-6 xs-pt2 visible-xs">
                                <div class="brick purplebg">
                                    <span class="brick-txt">Exclusive <br> Designs</span>
                                </div>
                            </div>
                            <div class="sm-col sm-col-6 xs-pt2 visible-xs">
                                <div class="image-wrap brick">
                                    <img src="/images/jooti/image3.png" />
                                </div>
                            </div>
                        </div>
                        <div class="sm-col sm-col-6 mt2 visible-sm">
                            <div class="brick purplebg">
                                <span class="brick-txt">Exclusive <br> Designs</span>
                            </div>
                        </div>
                    </div>
                    <div class="sm-col sm-col-4 clearfix">
                        <span class="bg-blck-fnt">best</span> 
                        <span class="bg-red-fnt">sellers</span>
                        <p class="bnr-txt">Professionalism &amp; high quality is the mantra of success. Quality reflected in our product us is direct result of strigment quality control norms.</p>
                        <div class="text-center bnr-btn-wrap">
                            <button class="btn-p"><span>browser</span></button>
                        </div>
                    </div>
                    <div class="sm-col sm-col-12 hght2px visible-sm"></div>
                    <div class="sm-col sm-col-4 visible-sm">
                        <div class="brick orangebg">
                            <span class="brick-txt">Economical <br> Pricing</span>
                        </div>
                    </div>
                    <div class="sm-col sm-col-8 visible-sm">
                        <div class="image-wrap brick-hr-lg">
                            <img src="/images/jooti/image3.png" />
                        </div>
                    </div>
                </div>
                <div class="new-arrival-wrap">
                    <div class="visible-xs">
                        <img src="/images/jooti/frsh-stck.png">
                    </div>
                    <div class="sm-col sm-col-5">
                        <div class="arrval-brick  visible-sm">
                            <span class="sml-fnt">Fresh</span>
                            <span class="big-fnt">STOCK</span>
                        </div>
                        <span class="bg-blck-fnt">new</span> 
                        <span class="bg-red-fnt">arrivals</span>
                        <p class="bnr-txt">Professionalism &amp; high quality is the mantra of success. Quality reflected in our product us is direct result of strigment quality control norms.</p>
                        <div class="text-center bnr-btn-wrap">
                            <button class="btn-p"><span>Explore</span></button>
                        </div>
                    </div>
                    <div class="sm-col sm-col-7 visible-sm">
                        <div class="image-wrap brick-newarrval-lg">
                            <img src="/images/jooti/image4.png" />
                        </div>
                    </div>
                </div>
            </section>
            <section class="footwear-main-wrap clearfix">
                <div class="wear-section clearfix one">
                    <div class="horizontal-bar">
                        <span class="value">1</span>
                    </div>
                    <div class="sm-col sm-col-2 pos-v-bar"> 
                        <div class="vertical-txt">collections</div>
                    </div>
                    <div class="sm-col sm-col-5"> 
                        <h2 class="section-heading">
                            MEN'S FOOTWEAR
                        </h2>
                        <p class="bnr-txt">Professionalism &amp; high quality is the mantra of success. Quality reflected in our product us is direct result of strigment quality control norms.</p>
                    </div>
                    <div class="sm-col sm-col-5">
                        <div class="image-wrap">
                            <img src="/images/jooti/image5.png" />
                        </div>
                    </div>
                </div>
                <div class="wear-section clearfix two">
                    <div class="horizontal-bar">
                        <span class="value">2</span>
                    </div>
                    <div class="sm-col sm-col-2 pos-v-bar visible-sm"> 
                        <div class="vertical-txt">collections</div>
                    </div>
                    <div class="sm-col sm-col-5"> 
                        <h2 class="section-heading">
                            MEN'S FOOTWEAR
                        </h2>
                        <p class="bnr-txt">Professionalism &amp; high quality is the mantra of success. Quality reflected in our product us is direct result of strigment quality control norms.</p>
                    </div>
                    <div class="sm-col sm-col-5">
                        <div class="image-wrap">
                            <img src="/images/jooti/image6.png" />
                        </div>
                    </div>
                </div>
                <div class="policy-wrap max1171 text-center">
                    <div class="box red">
                        <span>Sampling Policy</span>
                    </div>
                    <div class="box green">
                        <span>Ordering Policy</span>
                    </div>
                    <div class="box purple">
                        <span>Payments &amp; Returns</span>
                    </div>
                </div>
            </section>
            <section class="traditional-wrap max1171 clearfix">
                <div class="sm-col sm-col-6">
                    <div class="heading-tradtnl">
                        traditional
                    </div>
                    <div class="heading-tradtnl big-fnt">
                        Indian footwear
                    </div>
                    <div class="text-center">
                        <div class="image-wrap">
                            <img src="/images/jooti/image7.png" />
                        </div>
                    </div>
                </div>
                <div  class="sm-col sm-col-6 trad-txt">
                    <p class="bnr-txt">Professionalism &amp; high quality is the mantra of success. Quality reflected in our product us is direct result of strigment quality control norms. Quality reflected in our product us is direct result of strigment quality control norms.Professionalism &amp; high quality is the mantra of success. Quality reflected in our product us is direct result of strigment quality control norms.</p>
                    <div class="text-center bnr-btn-wrap">
                        <button class="btn-p"><span>read More</span></button>
                    </div>
                </div>
            </section>
            <section class="testimonials-wrap max1171">
                <div class="heading-testimonial">words of encouragement</div>
                <div class="slider-wrap">
                    <div class="arrow-btn prev"> <i class="fa fa-chevron-left"></i> </div>
                    <div class="slider-content">Professionalism &amp; high quality is the mantra of success. Quality reflected in our product us is direct result of strigment quality control norms. Quality reflected in our product us is direct result of strigment quality control norms.
                    </div>
                    <div class="arrow-btn nxt"> <i class="fa fa-chevron-right"></i> </div>
                </div>
                <div class="text-center btns-wrap">
                    <div class="read-more">READ ALL</div>
                    <div class="post">POST A COMMENT</div>
                </div>
            </section>
            <footer class="clearfix">
                <div class="footer-wrap max935 clearfix">
                    <div class="sm-col sm-col-5 lft-wrap visible-sm">
                        <div class="sm-col sm-col-6">
                            <ul>
                                <li class="list-heading">MEN'S FOOTWEAR</li>
                                <li>Designer Loafers</li>
                                <li>Casual Slip-ons</li>
                                <li>Sandals &amp; Floaters</li>
                                <li>Flips Flops &amp; Slippers</li>
                                <li>Wedding Collection</li>
                            </ul>
                        </div>
                        <div class="sm-col sm-col-6">
                            <ul>
                                <li class="list-heading">WOMEN'S FOOTWEAR</li>
                                <li>Flats &amp; Sandals</li>
                                <li>Wedges &amp; Heels</li>
                                <li>Flips Flops &amp; Slippers</li>
                                <li>Ballerinas</li>
                                <li>Peep Toes</li>
                                <li>Bridal Collection</li>
                            </ul>
                        </div>
                    </div>
                    <div class="sm-col sm-col-7">
                        <div class="sm-col sm-col-6 text-center">
                            <div class="image-wrap logo">
                                <img src="/images/jooti/logo_grey.png" />
                            </div>
                        </div>
                        <div class="sm-col sm-col-6">
                            <ul>
                                <li><span class="fa fa-map-marker icon"></span> <span class="f-txt"> # 952, Noor Manzil, Rehmani Market, Mehron Ka Rasta, Ramganj Bazaar,Jaipur - 302 003, INDIA</span></li>
                                <li><span class="icon fa fa-envelope"></span> <span class="f-txt">info@traditionalfootwear.in </span> </li>
                                <li><span class="icon fa fa-whatsapp"></span> <span class="f-txt"> +91 98288 22188 </span> </li>
                            </ul>
                        </div>                        
                    </div>
                    <div class="sm-col sm-col-12 text-right breadcrumb">
                        <a href="#">Privacy Policy</a>&nbsp;&nbsp;&nbsp; /&nbsp;&nbsp;&nbsp;<a href="#">Terms of Service</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="#">Disclaimer </a>
                    </div>
                </div>
                <div class="footer-bottom clearfix">
                    <div class="max935 clearfix">
                        <div class="sm-col sm-col-6 text-left">
                            Traditionalfootware.in  © 2016. All Rights Reserved.
                        </div>
                        <div class="sm-col sm-col-6 text-right">
                            Web Design, Web Hosting &amp; Search Engine Optimization by: Teknologie Koncepts
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
        <script src="../public/scripts/jquery.min.js"></script>    
</html>
