<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../public/styles/css/maaco.css">
        <!--script src="../public/scripts/jquery.min.js"></script-->
        <!--script src="../public/scripts/bootstrap.min.js"></script-->
        <!--script src="../public/scripts/hk.js"></script-->
        <title>maaco</title>
    </head>
    <body>


    </body>
</html>
