<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../public/styles/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../public/styles/css/customtwit.min.css">
        <title>twit</title>
    </head>
    <body>
        <div class="clearfix" data-module="header">
        <header id="header">
            <!-- <div> this is just some dummy div random</div> -->
        </header>
        <div class="max720 clearfix">
            <div class="container sm-col sm-col-12 main-wrap">
                <div class="head clearfix">
                    <ul>
                        <li class="active">
                            <div class="lghtgry">TWEET</div>
                            <div class="drkgry"><b>200</b></div>
                        </li>
                        <li>
                            <div class="lghtgry">PHOTOS/VIDEOS</div>
                            <div class="drkgry"><b>200</b></div>
                        </li>
                        <li>
                            <div class="lghtgry">FOLLOWING</div>
                            <div class="drkgry"><b>200</b></div>
                        </li>
                        <li>
                            <div class="lghtgry">FOLLOWERS</div>
                            <div class="drkgry"><b>200</b></div>
                        </li>
                    </ul>
                </div>
                <div class="refresh">
                    <div class="js-new-updates" data-type="new-notification-banner">new updates</div>
                </div>
                <div class="twit-main-container">
                    <ul class="clearfix js-twit-list">
                        <li>
                            <div class="twit-wrap clearfix">
                                <div class="sm-col sm-col-1 img-wrap">
                                    <img src="../images/twit/user-one.png" />
                                </div>
                                <div class="sm-col sm-col-11 detail-wrap">
                                    <div class="postTime">2min</div>
                                    <h2 class="actual-name">kerem suer</h2> <span class="username">@kerne</span>
                                    <div class="twit-writ-wrap">
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                    </div>
                                    <div class="option-wrap">
                                        <i class="fa fa-mail-forward"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-refresh"></i>
                                        <i class="fa fa-ellipsis-h"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        <script src="../public/scripts/t3.js"></script>
        <script src="../public/scripts/app.js"></script>
        <script src="../public/scripts/doT.js"></script>
        <script src="../public/scripts/jquery.min.js"></script>
        <script src="../public/scripts/modules/header.js"></script>
        <script>
            Application.init({
                debug: true
            });
        </script>
    </body>
    
</html>
