<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../public/styles/css/basscss.min.css">
        <link rel="stylesheet" type="text/css" href="../public/styles/css/customtwit.min.css">
        <title>twit</title>
    </head>
    <body>
        <div class="max720 clearfix">
        <div class="container sm-col sm-col-12">
            <div class="sm-col sm-col-12 head">
                <ul>
                    <li class="active">
                        <div class="lghtgry">TWEET</div>
                        <div class="drkgry"><b>200</b></div>
                    </li>
                    <li>
                        <div class="lghtgry">PHOTOS/VIDEOS</div>
                        <div class="drkgry"><b>200</b></div>
                    </li>
                    <li>
                        <div class="lghtgry">FOLLOWING</div>
                        <div class="drkgry"><b>200</b></div>
                    </li>
                    <li>
                        <div class="lghtgry">FOLLOWERS</div>
                        <div class="drkgry"><b>200</b></div>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </body>
</html>
