<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../public/styles/css/custom.css">
        <script src="../public/scripts/jquery.min.js"></script>
        <script src="../public/scripts/custom.js"></script>
        <title>practice</title>
    </head>
    <body>
        <div class="container-fluid">
            <section class="banner-wrap">
                <header class="clearfix">
                    <div class="row banner-bottom">
                        <div class="col-sm-2 logo">
                            practice
                        </div>
                        <div class="nav">
                            <ul>
                                <li>live</li>
                                <li>automate</li>
                                <li>screenshots</li>
                                <li>help</li>
                            </ul>
                        </div>
                    </div>
                </header>
                <div class="heading">
                    <h2>live, web based, real browser testing</h2>
                </div>
                <div class="design-elem"><div class="line"></div></div>
                <p class="support-para">
                    lorem ipsum dolar net. plurs tuda rugae goael ghauue sdgf guy afg tewuyu aydf. lorem ipsum dolar net. plurs tuda rugae goael ghauue sdgf guy afg tewuyu aydf alorem ipsum dolar net. plurs tuda rugae goael ghauue sdgf guy afg tewuyu aydf a
                </p>
                <div class="button-wrap"><button class="button">sign up</button></div>
            </section>

            <section class="testEnv-wrap">
                <div class="heading">
                    <h2>live, web based, real browser testing</h2>
                </div>
                <div class="design-elem"><div class="line"></div></div>
                <p class="support-para">
                    lorem ipsum dolar net. plurs tuda rugae goael ghauue sdgf guy afg tewuyu aydf. lorem ipsum dolar net. plurs tuda rugae goael ghauue sdgf guy afg tewuyu aydf alorem ipsum dolar net. plurs tuda rugae goael ghauue sdgf guy afg tewuyu aydf a
                </p>
                <div class="button-wrap"><button class="button">get started</button></div>
            </section>



            <section class="features-wrap">
                <div class="heading">
                    <h2>features</h2>
                </div>
                <div class="design-elem"><div class="line"></div></div>
                <div class="feaures-list">
                    <ul>
                        <li>
                            <div class="img-wrap"><img src="/images/ico-screen.png" /></div>
                            <div class="inner-content">
                                <h3>Native Experience</h3>
                                <p>Real browsers on real machines. Just like a locally installed browser, with media streaming.</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-wrap"><img src="/images/ico-windows.png" /></div>
                            <div class="inner-content">
                                <h3>Native Experience</h3>
                                <p>Real browsers on real machines. Just like a locally installed browser, with media streaming.</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-wrap"><img src="/images/ico-wrench.png" /></div>
                            <div class="inner-content">
                                <h3>Native Experience</h3>
                                <p>Real browsers on real machines. Just like a locally installed browser, with media streaming.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="signup-wrap">
                <div class="heading clearfix">
                    <h2 class="text-center">Signup for free trial</h2>
                </div>
                <div class="button-wrap"><button class="button">sign up</button></div>
            </section>



        </div>
    </body>
</html>
